name: Deploy to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v5
      with:
        node-version: '18.x'

    - name: Install and build
      run: |
        npm install
        npx honkit build

    - name: Publish to Distributed Press Production
      if: ${{ github.ref == 'refs/heads/master' }}
      uses: hyphacoop/actions-distributed-press@v1.2.2
      with:
        publish_dir: ./_book
        dp_url: https://api.distributed.press
        refresh_token: ${{ secrets.DISTRIBUTED_PRESS_PRODUCTION_TOKEN}}
        site_url: handbook.hypha.coop

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_book
