name: Test PRs

on: [pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v5
      with:
        node-version: '18.x'

    - name: Install and build
      run: |
        npm install
        npx honkit build

    - name: Cache bundled gems
      uses: actions/cache@v4
      with:
        path: vendor/bundle
        # We'd normally use Gemfile.lock, but nonexistent here.
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          ${{ runner.os }}-gem-
